<html>
<head>        
    <title>Life Science IPB</title>            
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    {% load static %}
    <!-- CSS INCLUDE -->        
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <!-- EOF CSS INCLUDE -->  

  	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css--> 
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>  
	<link rel="stylesheet" href="{% static 'css/w3.css' %}"> 
	<style>
	/* Center the loader */
	#loader {
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  z-index: 1;
	  width: 150px;
	  height: 150px;
	  margin: -75px 0 0 -75px;
	  border: 16px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 16px solid #16A085;
	  border-right: 16px solid #36D7B7;
	  border-bottom: 16px solid #16A085;
	  border-left: 16px solid #36D7B7;
	  width: 120px;
	  height: 120px;
	  -webkit-animation: spin 2s linear infinite;
	  animation: spin 2s linear infinite;
	}

	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}

	/* Add animation to "page content" */
	.animate-bottom {
	  position: relative;
	  -webkit-animation-name: animatebottom;
	  -webkit-animation-duration: 1s;
	  animation-name: animatebottom;
	  animation-duration: 1s
	}

	@-webkit-keyframes animatebottom {
	  from { bottom:-100px; opacity:0 } 
	  to { bottom:0px; opacity:1 }
	}

	@keyframes animatebottom { 
	  from{ bottom:-100px; opacity:0 } 
	  to{ bottom:0; opacity:1 }
	}

	#myDiv {
	  display: none;
	  text-align: center;
	}
	</style>
</head>
<body onload="myFunction()" style="margin:0;">
	<div id="loader"></div>
	  <nav>
	    <div class="nav-wrapper">
	      <a href="#!" class="brand-logo">Logo</a>
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
		      <li><a href="{% url "query" %}" >Identification</a></li>
		      <li><a href="{% url "about-us" %}" >About us</a></li>
		      <li><a href="{% url "algorithm" %}" >Algorithm</a></li>
		      <li><a href="{% url "benchmark" %}" >Benchmark</a></li>
		      <li><a href="{% url "team" %}" >Meet The Team</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-demo">
		      <li><a href="{% url "query" %}" >Identification</a></li>
		      <li><a href="{% url "about-us" %}" >About us</a></li>
		      <li><a href="{% url "algorithm" %}" >Algorithm</a></li>
		      <li><a href="{% url "benchmark" %}" >Benchmark</a></li>
		      <li><a href="{% url "team" %}" >Meet The Team</a></li>
	      </ul>
	    </div>
	  </nav>
	<div class="row">
  		<div class="col s12">

		</div>
		<div style="display:none;" id="myDiv" class="animate-bottom">


		<div class="fixed-action-btn toolbar">
		    <a class="btn-floating btn-large teal">
		      <i class="large material-icons">menu</i>
		    </a>
		    <ul>
		      <li class="waves-effect waves-light"><a href="{% url "query" %}" >Identification</a></li>
		      <li class="waves-effect waves-light"><a href="{% url "about-us" %}" >About us</a></li>
		      <li class="waves-effect waves-light"><a href="{% url "algorithm" %}" >Algorithm</a></li>
		      <li class="waves-effect waves-light"><a href="{% url "benchmark" %}" >Benchmark</a></li>
		      <li class="waves-effect waves-light"><a href="{% url "team" %}" >Meet The Team</a></li>
		    </ul>
		</div>
	</div>

	<script type="text/javascript" src="{% static 'js/style.js' %}"></script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript">
   		$(document).ready(function(){
	    	$('ul.tabs').tabs();
	  	});
    </script>
    <script type="text/javascript">
		 $(document).ready(function(){
		    $('ul.tabs').tabs('select_tab', 'tab_id');
		  });
    </script>
	<script type="text/javascript">
		$(document).ready(function() {
		    $('select').material_select();
		 });
	</script>
	<script type="text/javascript">
	function progress() {
	  var elem = document.getElementById("myBar");   
	  var width = 1;
	  var id = setInterval(frame, 10);
	  function frame() {
	    if (width >= 100) {
	      clearInterval(id);
	    } else {
	      width++; 
	      elem.style.width = width + '%'; 
 		  document.getElementById("label").innerHTML = width * 1  + '%';
 			if(width == 100) {
 				document.getElementById("label").innerHTML = "pencarian selesai";
 			}
	    }
	  }
	}		
	</script>
	<script type="text/javascript">
	function progress1() {
	  var elem = document.getElementById("myBar1");   
	  var width = 1;
	  var id = setInterval(frame, 10);
	  function frame() {
	    if (width >= 100) {
	      clearInterval(id);
	    } else {
	      width++; 
	      elem.style.width = width + '%'; 
 		  document.getElementById("label1").innerHTML = width * 1  + '%';
 			if(width == 100) {
 				document.getElementById("label1").innerHTML = "pencarian selesai";
 			}

	    }
	  }
	}		
	</script>
	<script type="text/javascript">
	  $('.fixed-action-btn.toolbar').openToolbar();
	  $('.fixed-action-btn.toolbar').closeToolbar();		
	</script>

	<script>
	var myVar;

	function myFunction() {
	    myVar = setTimeout(showPage, 1500);
	}
	function showPage() {
	  document.getElementById("loader").style.display = "none";
	  document.getElementById("myDiv").style.display = "block";
	}
	</script>

	<script type="text/javascript">
		$(document).ready(function(){
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
			$('.modal').modal();
			for(i = 1; i<=8; i++){
				$('#modal' + i +'').modal('open');
				$('#modal' + i +'').modal('close');
			}
		});
		$(".button-collapse").sideNav();
	</script>
</body>
</html>