<html>
<head>        
    <title>Life Science IPB</title>            
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    {% load static %}
    <!-- CSS INCLUDE -->        
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <!-- EOF CSS INCLUDE -->  

  	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css--> 
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>  
	<link rel="stylesheet" href="{% static 'css/w3.css' %}"> 
	<style>
	/* Center the loader */
	#loader {
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  z-index: 1;
	  width: 150px;
	  height: 150px;
	  margin: -75px 0 0 -75px;
	  border: 16px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 16px solid #16A085;
	  border-right: 16px solid #36D7B7;
	  border-bottom: 16px solid #16A085;
	  border-left: 16px solid #36D7B7;
	  width: 120px;
	  height: 120px;
	  -webkit-animation: spin 2s linear infinite;
	  animation: spin 2s linear infinite;
	}

	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}

	/* Add animation to "page content" */
	.animate-bottom {
	  position: relative;
	  -webkit-animation-name: animatebottom;
	  -webkit-animation-duration: 1s;
	  animation-name: animatebottom;
	  animation-duration: 1s
	}

	@-webkit-keyframes animatebottom {
	  from { bottom:-100px; opacity:0 } 
	  to { bottom:0px; opacity:1 }
	}

	@keyframes animatebottom { 
	  from{ bottom:-100px; opacity:0 } 
	  to{ bottom:0; opacity:1 }
	}

	#myDiv {
	  display: none;
	  text-align: center;
	}
	</style>
</head>
<body onload="myFunction()" style="margin:0;">
	<div id="loader"></div>
	<div class="row">
  		<div class="col s12">
		    <ul class="tabs">
				<li class="tab col s6"><a href="#test1"><span>Live Query</a></li>
    			<li class="tab col s6"><a href="#test2">List Query</a></li>
		    </ul>
		</div>
		<div style="display:none;" id="myDiv" class="animate-bottom">
		<div id="test1" class="col s12">
			<br><br>
			<div class="container">
				<center><h2>IDECIA</h2></center>
				<p>
				<center><h4>Identifikasi Penyakit Acacia sp Berbasis Mesin Pencari</h4></center>
			</div>
			<br><br><br>
			<div class="animate-bottom">
				<div class="container">
					<p>Based on SPARQL</p> 
					<form name="form" action = "{% url "query-sparql" %}" method = "POST">
						{% csrf_token %}
						<div class="row"> 
					        <div class="input-field col s12">
					          <input id="query" type="text" class="validate" name="query">
					          <label for="query" data-error="wrong" data-success="right">Pencarian Penyakit</label>
					        </div>
					    </div> 
					    <div class="row">
					    	<center><button type="submit" class="waves-effect waves-light btn">Telusuri</button></center>
					    </div>
					</form>
				</div>
			</div>
			<div class="container">
				<div class="row">
				  <div class="w3-progress-container">
				    <div id="myBar" class="w3-progressbar w3-lime" style="width:0%">
				    	<div id="label" class="w3-center w3-text-white"></div>
				    </div>
				  </div>
				</div>
			</div>
			Query => {{ query }}
			<br>
			URL => {{ url }}
			<br>
			<br>
			<table class= "table table-hover">
                <thead> 
                    <tr>
                        <td>Gejala</td>
                        <td>Nama Penyakit</td>
                    </tr> 
                </thead>
                <tbody>
                {% for data in result %}
                    <tr>
                    	{% if not forloop.counter|divisibleby:2 %}
                    	<td>{{ data }}</td>
                    	{% else %}
                    	<td>{{ data }}</td>
                    	{% endif %}
                    </tr>

 				{% endfor %}
                </tbody>
             </table>
		</div>
		<div id="test2" class="col s12">
			<br><br>
			<div class="container">
				<center><h2>IDECIA</h2></center>
				<p>
				<center><h4>Identifikasi Penyakit Acacia sp Berbasis Mesin Pencari</h4></center>
			</div>
			<br><br><br>
			<div class="animate-bottom">
				<div class="container">
					<div class="row">
					  <div class="input-field col s12 m6">
					    <select class="icons">
					      <option value="" disabled selected>Pilih Inang</option>
					      <option value="" data-icon="{% static 'images/acacia c.png' %}" class="circle">Acacia Crassicarpa</option>
					      <option value="" data-icon="{% static 'images/acacia m.png' %}" class="circle">Acacia Mangium</option>
					    </select>
					    <label>Pilih Inang</label>
					  </div>
					  <div class="input-field col s12 m6">
					    <select class="icons">
					      <option value="" disabled selected>Pilih Patogen</option>
					      <option value="" data-icon="{% static 'images/mushroom.png' %}" class="circle">Bakteri</option>
					      <option value="" data-icon="{% static 'images/bacteria.png' %}" class="circle">Jamur</option>
					    </select>
					    <label>Pilih Patogen</label>
					  </div>
					</div>
					<div class="row">
					  <div class="input-field col s12 m6">
					    <select class="icons">
					      <option value="" disabled selected>Pilih Area</option>
					      <option value="" data-icon="{% static 'images/trunks.png' %}" class="circle">Batang</option>
					      <option value="" data-icon="{% static 'images/leaf.png' %}" class="circle">Daun</option>
					      <option value="" data-icon="{% static 'images/root.png' %}" class="circle">Akar</option>
					    </select>
					    <label>Pilih Patogen</label>
					  </div>
					  <div class="input-field col s12 m6">
					    <select class="icons">
					      <option value="" disabled selected>Pilih Tempat</option>
					      <option value="" data-icon="{% static 'images/mushroom.png' %}" class="circle">Plantation</option>
					      <option value="" data-icon="{% static 'images/bacteria.png' %}" class="circle">Nurcery</option>
					    </select>
					    <label>Pilih Pengendalian</label>
					  </div>
					</div>
				    <div class="row">
				    	<div class="input-field col s12">
							<center><button class="waves-effect waves-light btn" onclick="progress1();this.disabled='true'">Telusuri</button></center>
						</div>
				    </div> 
				</div>
			</div> 
			<div class="container">
				<div class="row">
				  <div class="w3-progress-container">
				    <div id="myBar1" class="w3-progressbar w3-lime" style="width:0%">
				    	<div id="label1" class="w3-center w3-text-white"></div>
				    </div>
				  </div>
				</div>
			</div>   
		</div>

		<div class="fixed-action-btn toolbar">
		    <a class="btn-floating btn-large teal">
		      <i class="large material-icons">menu</i>
		    </a>
		    <ul>
		      <li class="waves-effect waves-light"><a href="#!">About us</a></li>
		      <li class="waves-effect waves-light"><a href="#!">Algorithm</a></li>
		      <li class="waves-effect waves-light"><a href="#!">Benchmark</a></li>
		      <li class="waves-effect waves-light"><a href="#!">Accuration</a></li>
		    </ul>
		  </div>
	</div>

	<script type="text/javascript" src="{% static 'js/style.js' %}"></script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript">
   		$(document).ready(function(){
	    	$('ul.tabs').tabs();
	  	});
    </script>
    <script type="text/javascript">
		 $(document).ready(function(){
		    $('ul.tabs').tabs('select_tab', 'tab_id');
		  });
    </script>
	<script type="text/javascript">
		$(document).ready(function() {
		    $('select').material_select();
		 });
	</script>
	<script type="text/javascript">
	function progress() {
	  var elem = document.getElementById("myBar");   
	  var width = 1;
	  var id = setInterval(frame, 10);
	  function frame() {
	    if (width >= 100) {
	      clearInterval(id);
	    } else {
	      width++; 
	      elem.style.width = width + '%'; 
 		  document.getElementById("label").innerHTML = width * 1  + '%';
 			if(width == 100) {
 				document.getElementById("label").innerHTML = "pencarian selesai";
 			}
	    }
	  }
	}		
	</script>
	<script type="text/javascript">
	function progress1() {
	  var elem = document.getElementById("myBar1");   
	  var width = 1;
	  var id = setInterval(frame, 10);
	  function frame() {
	    if (width >= 100) {
	      clearInterval(id);
	    } else {
	      width++; 
	      elem.style.width = width + '%'; 
 		  document.getElementById("label1").innerHTML = width * 1  + '%';
 			if(width == 100) {
 				document.getElementById("label1").innerHTML = "pencarian selesai";
 			}

	    }
	  }
	}		
	</script>
	<script type="text/javascript">
	  $('.fixed-action-btn.toolbar').openToolbar();
	  $('.fixed-action-btn.toolbar').closeToolbar();		
	</script>

	<script>
	var myVar;

	function myFunction() {
	    myVar = setTimeout(showPage, 1500);
	}
	function showPage() {
	  document.getElementById("loader").style.display = "none";
	  document.getElementById("myDiv").style.display = "block";
	}
	</script>

	<script type="text/javascript">
		$(document).ready(function(){
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
			$('.modal').modal();
			for(i = 1; i<=8; i++){
				$('#modal' + i +'').modal('open');
				$('#modal' + i +'').modal('close');
			}
		});
	</script>
</body>
</html>