<html>
<head>        
    <title>Life Science IPB</title>            
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->
    
    {% load static %}
    <!-- CSS INCLUDE -->        
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <!-- EOF CSS INCLUDE -->  

  	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css--> 
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>  
	<link rel="stylesheet" href="{% static 'css/w3.css' %}"> 
	<style>
	/* Center the loader */
	#loader {
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  z-index: 1;
	  width: 150px;
	  height: 150px;
	  margin: -75px 0 0 -75px;
	  border: 16px solid #f3f3f3;
	  border-radius: 50%;
	  border-top: 16px solid #16A085;
	  border-right: 16px solid #36D7B7;
	  border-bottom: 16px solid #16A085;
	  border-left: 16px solid #36D7B7;
	  width: 120px;
	  height: 120px;
	  -webkit-animation: spin 2s linear infinite;
	  animation: spin 2s linear infinite;
	}

	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}

	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}

	/* Add animation to "page content" */
	.animate-bottom {
	  position: relative;
	  -webkit-animation-name: animatebottom;
	  -webkit-animation-duration: 1s;
	  animation-name: animatebottom;
	  animation-duration: 1s
	}

	@-webkit-keyframes animatebottom {
	  from { bottom:-100px; opacity:0 } 
	  to { bottom:0px; opacity:1 }
	}

	@keyframes animatebottom { 
	  from{ bottom:-100px; opacity:0 } 
	  to{ bottom:0; opacity:1 }
	}

	#myDiv {
	  display: none;
	  text-align: center;
	}
	</style>
</head>
<body onload="myFunction()" style="margin:0;">
	<div id="loader"></div>

	<div class="row">
  		<div class="col s12">
		    <ul class="tabs">
				<li class="tab col s4"><a href="#test1"><span>IR Query (BM25)</a></li>
				<li class="tab col s4"><a href="#test2"><span>IR Query (TFIDF)</a></li>
    			<li class="tab col s4"><a href="#test3">Onto Query</a></li>
		    </ul>
		</div>
		<div style="display:none;" id="myDiv" class="animate-bottom">
		<div id="test1" class="col s12">
			<br><br>
			<div class="container">
				<center><h2>IDECIA</h2></center>
				<p>
				<center><h4>Identifikasi Penyakit Acacia sp Berbasis Mesin Pencari<br>Menggunakan <b>BM25Similarity</b></h4></center>
			</div>
			<br><br><br>
			<div class="animate-bottom">
				<div class="container">
					<form name="form" action = "{% url "query-bm" %}" method = "POST">
						{% csrf_token %}
						<div class="row"> 
					        <div class="input-field col s12">
					          <input id="query" type="text" class="validate" name="query">
					          <label for="query" data-error="wrong" data-success="right" value={{ query }}>Pencarian Penyakit</label>
					        </div>
					    </div> 
					    <div class="row">
					    	<center><button type="submit" class="waves-effect waves-light btn">Telusuri</button></center>
					    </div>
					</form>
				</div>
			</div>
			<div class="container">
				<div class="row">
				  <div class="w3-progress-container">
				    <div id="myBar" class="w3-progressbar w3-lime" style="width:0%">
				    	<div id="label" class="w3-center w3-text-white"></div>
				    </div>
				  </div>
				</div>
			</div>
			{% if url != None %}
				Query => {{ query }}
				<br>
				URL => {{ url }}
				<br>
				<br>
				{% if data %}
					<center><h3>Pencarian ditemukan</h3></center>
					<table  class="highlight">
						<thead>
							<tr>
								<th><center>Ranking</center></th>
								<th><center>Disease</center></th>
								<th><center>Action</center></th>
							</tr>
						</thead>
						<tbody>
						{% for data in data %}
		    	 			<tr> 
		    	 				<td><center>{{ forloop.counter }}</center></td>
		    	 			  	<td><center>{{ data.0 }}</center></td>
		    	 			  	<td><center><a class="waves-effect waves-light btn" href="#modal{{ forloop.counter }}">Detail</a>
								  <!-- Modal Structure -->
								  <div id="modal{{ forloop.counter }}" class="modal">
								    <div class="modal-content">
	                                  <h4><b>Disease Name</b> : {{ data.0 }}</h4>
								      <p><b>English Name</b> : {{ data.1 }}</p>
								      <p><b>Description</b> : <br>
								      	{{ data.2 }}
								      </p>
								      <p><b>Pathogen</b> : <br>
	                                    <ul>
								      	{% for data in data.3 %}
	                                        <li>{{ data }}</li>
	                                    {% endfor %}
	                                    </ul>
								      </p>
								      <p><b>Location in</b> : <br>
								      	{{ data.4 }}
								      </p>
								      <p><b>Spreading</b> : <br>
								      	{{ data.5 }}
								      </p>
								      <p><b>Symptom</b> : <br>
								      	{{ data.6|linebreaksbr }}
								      </p>
								      <p><b>Treatment</b> : <br>
								      	{{ data.7|linebreaksbr }}
								      </p>
								    </div> 
								    <div class="modal-footer">
								      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
								    </div>
								  </div></center></td>
							</tr>
							<br>
		     			{% endfor %}
		     			</tbody>
		     		</table>
	     		{% else %}
     				<center><p><h1><b>:(</b></h1><br>Oops, pencarian tidak ditemukan</p></center>   
				{% endif %}

	     	{% endif %}
		</div>
		<div id="test2" class="col s12">
			<br><br>
			<div class="container">
				<center><h2>IDECIA</h2></center>
				<p>
				<center><h4>Identifikasi Penyakit Acacia sp Berbasis Mesin Pencari<br>Menggunakan <b>TFIDFSimilarity</b></h4></center>
			</div>
			<br><br><br>
			<div class="animate-bottom">
				<div class="container">
					<form name="form" action = "{% url "query-tfidf" %}" method = "POST">
						{% csrf_token %}
						<div class="row"> 
					        <div class="input-field col s12">
					          <input id="query" type="text" class="validate" name="query">
					          <label for="query" data-error="wrong" data-success="right" value={{ query }}>Pencarian Penyakit</label>
					        </div>
					    </div> 
					    <div class="row">
					    	<center><button type="submit" class="waves-effect waves-light btn">Telusuri</button></center>
					    </div>
					</form>
				</div>
			</div>
			<div class="container">
				<div class="row">
				  <div class="w3-progress-container">
				    <div id="myBar" class="w3-progressbar w3-lime" style="width:0%">
				    	<div id="label" class="w3-center w3-text-white"></div>
				    </div>
				  </div>
				</div>
			</div>
			{% if url2 != None %}
				Query => {{ query2 }}
				<br>
				URL => {{ url2 }}
				<br>
				<br>
				{% if data2 %}
					<center><h3>Pencarian ditemukan</h3></center>
					<table  class="highlight">
						<thead>
							<tr>
								<th><center>Ranking</center></th>
								<th><center>Disease</center></th>
								<th><center>Action</center></th>
							</tr>
						</thead>
						<tbody>
							{% for data in data2 %}
		    	 			<tr> 
		    	 				<td><center>{{ forloop.counter }}</center></td>
		    	 			  	<td><center>{{ data.0 }}</center></td>
		    	 			  	<td><center><a class="waves-effect waves-light btn" href="#modal{{ forloop.counter }}">Detail</a>
								  <!-- Modal Structure -->
								  <div id="modal{{ forloop.counter }}" class="modal">
								    <div class="modal-content">
	                                  <h4><b>Disease Name</b> : {{ data.0 }}</h4>
								      <p><b>English Name</b> : {{ data.1 }}</p>
								      <p><b>Description</b> : <br>
								      	{{ data.2 }}
								      </p>
								      <p><b>Pathogen</b> : <br>
	                                    <ul>
								      	{% for data in data.3 %}
	                                        <li>{{ data }}</li>
	                                    {% endfor %}
	                                    </ul>
								      </p>
								      <p><b>Location in</b> : <br>
								      	{{ data.4 }}
								      </p>
								      <p><b>Spreading</b> : <br>
								      	{{ data.5 }}
								      </p>
								      <p><b>Symptom</b> : <br>
								      	{{ data.6|linebreaksbr }}
								      </p>
								      <p><b>Treatment</b> : <br>
								      	{{ data.7|linebreaksbr }}
								      </p>
								    </div> 
								    <div class="modal-footer">
								      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
								    </div>
								  </div></center></td>
							</tr>
							{% endfor %}
						</tbody>
						<br>
					</table>
	     		{% else %}
     				<center><p><h1><b>:(</b></h1><br>Oops, pencarian tidak ditemukan</p></center>   
				{% endif %}

	     	{% endif %}
		</div>
		<div id="test3" class="col s12">
			<br><br>
			<div class="container">
				<center><h2>IDECIA</h2></center>
				<p>
                <center><h4>Identifikasi Penyakit Acacia sp Berbasis Mesin Pencari<br>Menggunakan <b>Semantic Ontology (SPARQL)</b></h4></center>
			</div>
			<br><br><br>
			<div class="animate-bottom">
				<div class="container">
					<form name="form" action = "{% url "query-sparql" %}" method = "POST">
					{% csrf_token %}
						<b>Informasi Umum</b><br><br>
						<div class="row">
						  	<div class="input-field col s12 m6">
							    <select class="icons" name="inang" required>
							      <option value="" disabled selected>Pilih Inang</option>
							      <option value="crassicarpa" data-icon="{% static 'images/acacia c.png' %}" name="i" class="circle">Acacia Crassicarpa</option>
							      <option value="mangium" data-icon="{% static 'images/acacia m.png' %}" class="circle">Acacia Mangium</option>
							    </select>
							    <label>Pilih Inang</label>
						  	</div>
							<div class="input-field col s12 m6">
							    <select class="icons" name="patogen" required>
								    <option value="" disabled selected>Pilih Patogen</option>
								    <option value="bacteria" data-icon="{% static 'images/mushroom.png' %}" class="circle">Bakteri</option>
								    <option value="fungus" data-icon="{% static 'images/bacteria.png' %}" class="circle">Jamur</option>
								    <option value="virus" data-icon="{% static 'images/virus.png' %}" class="circle">Virus</option>
							    </select>
						    	<label>Pilih Patogen</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12 m4"></div>
						  	<div class="input-field col s12 m4">
							    <select class="icons" name="area" required>
							      <option value="" disabled selected>Pilih Area</option>
							      <option value="batang" data-icon="{% static 'images/trunks.png' %}" class="circle">Batang</option>
							      <option value="daun" data-icon="{% static 'images/leaf.png' %}" class="circle">Daun</option>
							      <option value="akar" data-icon="{% static 'images/root.png' %}" class="circle">Akar</option>
							    </select>
							    <label>Pilih Area</label>
						  	</div>
						  	<div class="input-field col s12 m4"></div>
						</div>
						<b>Informasi Gejala</b><br><br>
						<div class="row">
						  	<div class="input-field col s12 m6">
							   	<select class="icons" name="warna">
							      	<option value="" disabled selected>Pilih Warna Bercak/Lainnya</option>
							      	<option value="hitam" class="circle">Hitam</option>
							      	<option value="cokelat" class="circle">Cokelat</option>
							      	<option value="kuning" class="circle">Kuning</option>
							      	<option value="putih" class="circle">Putih</option>
							      	<option value="" class="circle">Undefined</option>
							    </select>
						    	<label>Pilih Warna Bercak</label>
						  	</div>
							<div class="input-field col s12 m6">
							    <select class="icons" name="bentuk">
							      <option value="" disabled selected>Pilih Bentuk Bercak/Lainnya</option>
							      <option value="melebar" class="circle">Bercak Melebar</option>
							      <option value="memanjang" class="circle">Bercak Memanjang</option>
							      <option value="kecil" class="circle">Bercak Kecil</option>
							      <option value="akar mengkerut" class="circle">Akar Mengkerut</option>
							      <option value="" class="circle">Undefined</option>
							    </select>
							    <label>Pilih Bentuk Bercak</label>
							</div>
						</div>
						<div class="row">
						  	<div class="input-field col s12 m6">
						    	<select class="icons" name="kondisi">
							      <option value="" disabled selected>Pilih Kondisi Bercak/Lainnya</option>
							      <option value="basah" class="circle">Bercak Basah</option>
							      <option value="kering" class="circle">Bercak Kering</option>
							    </select>
							    <label>Pilih Kondisi Bercak</label>								
							</div>
							<div class="input-field col s12 m6">
						    	<select class="icons" name="cuaca">
							      <option value="" disabled selected>Pilih Cuaca</option>
							      <option value="" class="circle">Undefined</option>
							    </select>
							    <label>Pilih Cuaca</label>								
							</div>
						</div>
					    <div class="row">
					    	<div class="input-field col s12">
								<center><button type="submit" class="waves-effect waves-light btn">Telusuri</button></center>
							</div>
					    </div>
					</form> 
				</div>
			</div> 
			<div class="container">
				<div class="row">
				  <div class="w3-progress-container">
				    <div id="myBar1" class="w3-progressbar w3-lime" style="width:0%">
				    	<div id="label1" class="w3-center w3-text-white"></div>
				    </div>
				  </div>
				</div>
			</div>
			{% if data3 %}
			<center><h3>Pencarian ditemukan</h3></center>
			<table class="highlight">
				<thead>
					<tr>
						<th><center>Ranking</center></th>
						<th><center>Disease</center></th>
						<th><center>Action</center></th>
					</tr>
				</thead>
				<tbody>
					{% for data in data3 %}
		 			<tr> 
		 				<td><center>{{ forloop.counter }}</center></td>
		 			  	<td><center>{{ data.0 }}</center></td>
		 			  	<td><center><a class="waves-effect waves-light btn" href="#modal{{ forloop.counter }}">Detail</a></center></td>
						  <!-- Modal Structure -->
						  <div id="modal{{ forloop.counter }}" class="modal">
						    <div class="modal-content">
	                          <h4><b>Disease Name</b> : {{ data.0 }}</h4>
						      <p><b>English Name</b> : {{ data.1 }}</p>
						      <p><b>Description</b> : <br>
						      	{{ data.2 }}
						      </p>
						      <p><b>Pathogen</b> : <br>
						      	<ul>
							      	{% for patogen in data.3 %}
							      		<li>{{ patogen }}</li>
							      	{% endfor %}
							     </ul>
						      </p>
						      <p><b>Location in</b> : <br>
						      	{{ data.4 }}
						      </p>
						      <p><b>Spreading</b> : <br>
						      	{{ data.5 }}
						      </p>
						      <p><b>Symptom</b> : <br>
						      	{{ data.6|linebreaksbr }}
						      </p>
						      <p><b>Treatment</b> : <br>
						      	{{ data.7|linebreaksbr }}
						      </p>
						    </div> 
						    <div class="modal-footer">
						      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
						    </div>
						  </div>
					</tr>
					<br>
		     		{% endfor %}
	     		</tbody>
	     	</table>
			{% else %}
	     		<center><p><h1><b>:(</b></h1><br>Oops, pencarian tidak ditemukan</p></center>    	
			{% endif %}
		</div>

		<div class="fixed-action-btn toolbar">
		    <a class="btn-floating btn-large teal">
		      <i class="large material-icons">menu</i>
		    </a>
		    <ul>
		      <li class="waves-effect waves-light"><a href="{% url "query-bm" %}" >Identification</a></li>
		      <li class="waves-effect waves-light"><a href="{% url "about-us" %}" >About us</a></li>
		      <li class="waves-effect waves-light"><a href="{% url "algorithm" %}" >Algorithm</a></li>
		      <li class="waves-effect waves-light"><a href="{% url "benchmark" %}" >Benchmark</a></li>
		      <li class="waves-effect waves-light"><a href="{% url "team" %}" >Meet The Team</a></li>
		    </ul>
		  </div>
	</div>

	<script type="text/javascript" src="{% static 'js/style.js' %}"></script>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript">
   		$(document).ready(function(){
	    	$('ul.tabs').tabs();
	  	});
    </script>
    <script type="text/javascript">
		 $(document).ready(function(){
		    $('ul.tabs').tabs('select_tab', 'tab_id');
		  });
    </script>
	<script type="text/javascript">
		$(document).ready(function() {
		    $('select').material_select();
		 });
	</script>
	<script type="text/javascript">
	function progress() {
	  var elem = document.getElementById("myBar");   
	  var width = 1;
	  var id = setInterval(frame, 10);
	  function frame() {
	    if (width >= 100) {
	      clearInterval(id);
	    } else {
	      width++; 
	      elem.style.width = width + '%'; 
 		  document.getElementById("label").innerHTML = width * 1  + '%';
 			if(width == 100) {
 				document.getElementById("label").innerHTML = "pencarian selesai";
 			}
	    }
	  }
	}		
	</script>
	<script type="text/javascript">
	function progress1() {
	  var elem = document.getElementById("myBar1");   
	  var width = 1;
	  var id = setInterval(frame, 10);
	  function frame() {
	    if (width >= 100) {
	      clearInterval(id);
	    } else {
	      width++; 
	      elem.style.width = width + '%'; 
 		  document.getElementById("label1").innerHTML = width * 1  + '%';
 			if(width == 100) {
 				document.getElementById("label1").innerHTML = "pencarian selesai";
 			}

	    }
	  }
	}		
	</script>
	<script type="text/javascript">
	  $('.fixed-action-btn.toolbar').openToolbar();
	  $('.fixed-action-btn.toolbar').closeToolbar();		
	</script>

	<script>
	var myVar;

	function myFunction() {
	    myVar = setTimeout(showPage, 1500);
	}
	function showPage() {
	  document.getElementById("loader").style.display = "none";
	  document.getElementById("myDiv").style.display = "block";
	}
	</script>

	<script type="text/javascript">
		$(document).ready(function(){
		// the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
			$('.modal').modal();
			for(i = 1; i<=8; i++){
				$('#modal' + i +'').modal('open');
				$('#modal' + i +'').modal('close');
			}
		});
		$(".button-collapse").sideNav();
	</script>
</body>
</html>